html, body {
  height: 100%;
  background-color: bisque;
}
body {
  overflow: hidden;
}
#app-root {
  display:flex;
  height:100%;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  #app-root {
    width: 50vw;
  }
}
